.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

.ipynb_checkpoints/

intro-to-tflearn/mnist/
notMNIST_*.zip
notMNIST.pickle
*-ubyte.gz
model.ckpt.*

# image-classification Ignore
image-classification/*.p
image-classification/cifar-10*
image-classification/image_classification.*
image-classification/checkpoint
__pycache__

embeddings/checkpoints/
